.container {
  max-width: 100%;
  margin: auto;
  padding: 50px;
  border-radius: 12px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: left;
  color: #222;
}

.button-group {
  display: flex;
  flex-wrap: wrap; /* Buttons wrap honge instead of scroll */
  gap: 75px;
  margin-bottom: 40px;
  justify-content: center;
}

.task-button {
  flex: none;
  border: 3px solid #222;
  padding: 15px 30px;
  border-radius: 30px;
  background: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

.task-button:hover, .task-button.active {
  background: #222;
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  color: #444;
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
}

.input-field {
  border: none;
  border-bottom: 3px solid #222;
  padding: 10px;
  outline: none;
  font-size: 20px;
  background: transparent;
  width: 100%;
}

.budget-title {
  margin-top: 50px;
}

.budget-group {
  margin-bottom: 40px;
}

.budget-button {
  border-color: #000000;
  color: #000000;
}

.budget-button:hover, .budget-button.active {
  background: #000000;
  color: white;
}

.submit-button {
  background: transparent;
  color: #222;
  border: 2px solid #222;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.submit-button:hover {
  background: #222;
  color: white;
  transform: translateY(-3px);
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
}

.submit-button:active {
  transform: translateY(2px);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}


.sub-title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 50px;
}

.separator {
  width: 100%;
  height: 3px;
  background: #222;
  margin-top: 12px;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .container {
      padding: 30px;
  }

  .button-group {
      flex-wrap: wrap;
  }

  .task-button {
      padding: 12px 25px;
      font-size: 18px;
  }

  .title, .sub-title {
      font-size: 26px;
  }

  .input-field {
      font-size: 18px;
  }
}
